.box {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transition: transform 0.5s ease; /* 平滑过渡 */
  border-radius: 50%;
  background: linear-gradient(45deg, black, transparent);
}
.rotate {
  animation: spin 2s linear infinite; /* 应用旋转动画 */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
