#root {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}



/*公共组件样式库*/
.input{
      border: 0px;
      line-height: 40px;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      margin: 0;
  }
.form .formli{
    height: 44px;
    background: #ffffff;
    box-shadow: 0 6px 12px #e9eaee;
    border-radius: 22px;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.form .title{
  width: 100%;
  text-align: center;

}

